[2014-03-09 07:34] coreyallen opened #2 "Issues with hyphenated css"
Amazing add-on. It's already saved me tons of time.

In css if my cursor is on background-image and I look it up in Dash, it looks up "background" if it's under -image it looks up "image". Instead of "background-image".

[2014-03-09 16:48] #2 closed, assigned to nobody

[2014-04-16 12:22] mkleehammer opened #5 "Reduce amount stored in config.cson?"
This is by far the largest item in config.cson and I don't think I configured anything for it.  Is there any way to have all of that be the default and only store what the user configures?

[2014-05-06 10:23] #5 closed, assigned to nobody

[2015-01-07 13:24] LukeMauldin opened #10 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.

[code]

[2015-01-09 09:24] #10 closed, assigned to nobody

[2015-01-14 19:45] DavidLGoldberg opened #11 "Question: Return focus"
This isn't a huge deal.  But I was just curious if there was a way to return focus after ctrl+h is pressed, to the atom window.  When I use the HUD and alt+d to open dash and escape out it returns focus to atom, but with ctrl+h it doesn't.  Not a big issue.  Great Package!

[2015-01-17 04:36] blakeembrey commented on #11
That would be nice, unfortunately I'm not sure why this is the case. Focus is going back to the Atom window, perhaps it's something Atom can look into? I'm just not sure how I can fix it unless you have some thoughts?

[2015-02-27 00:43] raygerrard opened #12 "Uncaught TypeError: Cannot read property 'getSelection' of undefined"
[Enter steps to reproduce below:]

1. ...CMD + Shift + p
2. ... Dash: shortcut

**Atom Version**: 0.184.0
**System**: Mac OS X 10.10.2
**Thrown From**: [dash](https://github.com/blakeembrey/atom-dash) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'getSelection' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-28 09:10] blakeembrey commented on #12
@raygerrard Fixed and released in `v1.0.3`.

[2015-02-28 09:10] #12 closed

[2015-03-04 13:38] roidriscoll opened #13 "Use the `atom-text-editor` tag instead of the `editor` class."
In keymaps/dash.cson: Use the `atom-text-editor` tag instead of the `editor` class.

[2015-03-05 08:37] blakeembrey commented on #13
Not sure what you're looking at? I updated it a couple of months ago (https://github.com/blakeembrey/atom-dash/blob/master/keymaps/dash.cson). Let me know if I'm misunderstanding you :smile:

[2015-03-05 08:37] #13 closed

[2015-03-15 18:05] Kapeli opened #14 "Call Dash without activating it"
atom-dash calls Dash by opening a `dash-plugin://` URL. The problem is that the system forces Dash to become active when this URL is opened.

Currently, this is not an issue. However, a future update of Dash will add support for iOS remotes. While an iOS remote is connected, extensions are redirected to it directly and Dash on OS X is not shown at all. Unfortunately there's no way for me to preven

[2015-03-15 18:47] blakeembrey commented on #14
@Kapeli Thanks for the update, I'll fix this ASAP :+1:

[2015-03-15 19:37] blakeembrey commented on #14
Patched with https://github.com/blakeembrey/atom-dash/commit/8a3152abd5e95dc7dd8f449d717ce133581778b3

[2015-03-15 19:37] #14 closed

[2015-03-15 19:38] blakeembrey commented on #11
@DavidLGoldberg Could you try the latest version and let me know if it's fixed? It appears to have fixed up with the latest Atom version already.

[2015-03-15 19:38] #11 closed

[2015-03-15 19:38] Kapeli commented on #14
Thank you! :+1:

[2015-03-15 21:58] DavidLGoldberg commented on #11
:+1: Awesome!  Worked for me as well!

[2015-04-15 22:28] clauseggers opened #15 "Getting deprecated calls – see #6278"
Getting deprecated calls from atom-dash, please see:
https://github.com/atom/atom/issues/6278

[2015-04-16 00:41] blakeembrey commented on #15
Thanks for the heads up. I've patched all the deprecation calls I could see and released `v1.1.1`. Let me know if this works for you :+1:

[2015-04-16 00:41] #15 closed

[2015-04-16 09:28] clauseggers commented on #15
Thanks for patching this Blake – it works :-)

[2015-05-23 17:58] tamaspiros opened #16 "Gruntfile.js"
Is it currently possible to add a config setting in Atom so that when I have a `Gruntfile.js` open the Dash opens the Grunt documentation instead of the JavaScript one?

(Of course this could be applied to gulp.js as well for example)

[2015-05-23 18:00] blakeembrey commented on #16
That makes perfect sense to me and I think it's a great suggestion :+1: Right now there's no file level override, but it would be easy enough to add. I'll try to get around it in the next couple of weeks :smile:

[2015-05-23 18:01] tamaspiros commented on #16
Nice - thanks for the fast response. I tried to play around with the config but saw that it's not possible. Let me know if you need help writing this functionality - I'm happy to help / test etc. :+1:

[2015-06-10 05:12] #16 closed

[2015-06-10 05:16] blakeembrey commented on #16
Just released a new minor version with some initial filenames (Grunt and Gulp) to check it out. Feel free to add more :smile:

[2015-06-10 09:38] underyx opened #18 "Keep a changelog"
Here's a pretty good summary of the issue and how to remedy it: http://keepachangelog.com/

[2015-06-10 10:12] blakeembrey commented on #18
Thanks for the link, I'll try to backtrack it ASAP.

[2015-06-10 10:55] underyx commented on #18
You're the best, Blake!

[2015-06-11 03:32] #18 closed

[2015-06-11 03:35] blakeembrey commented on #18
Let me know how https://github.com/blakeembrey/atom-dash/blob/master/CHANGELOG.md looks :smile: I'll be trying out the same format for my other projects in the future.

[2015-06-15 19:37] roustem opened #19 "Uncaught TypeError: Cannot read property 'start' of undefined"
[Enter steps to reproduce below:]

1. Press Ctrl-H when cursor is under a word.

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.3
**Thrown From**: [dash](https://github.com/blakeembrey/atom-dash) package, v1.2.0

### Stack Trace

Uncaught TypeError: Cannot read property 'start' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-16 05:13] blakeembrey commented on #19
Hi @roustem. I verified that it is indeed possible to get an `undefined` range so I've released a patch for that. It will fallback to the current word under your cursor. If you're having an issue after the patch though (unexpected word lookup maybe?), please post a code snippet I can replicate the issue. Thanks for the report! :+1:

[2015-06-16 05:13] #19 closed

[2015-06-16 16:03] roustem commented on #19
Thank you for the patch, @blakeembrey! It fixed the problem for me.

[2015-06-18 07:32] abnerlinan opened #20 "Package.activateResources is deprecated."
The context menu CSON format has changed. Please see
https://atom.io/docs/api/latest/ContextMenuManager

[2015-06-18 07:33] abnerlinan opened #21 "Package.activateResources is deprecated."
The context menu CSON format has changed. Please see
https://atom.io/docs/api/latest/ContextMenuManager

[2015-06-18 07:33] #21 closed

[2015-06-18 07:41] blakeembrey commented on #20
@abnerlinan Aren't I using the new format already? https://github.com/blakeembrey/atom-dash/blob/master/menus/dash.cson

[2015-06-18 07:57] abnerlinan commented on #20
thx

[2015-06-18 07:57] #20 closed

[2015-06-18 08:00] blakeembrey commented on #20
@abnerlinan Sorry, didn't want to be too dismissive but I wasn't sure if this was a new API change or not and that page showed the format I'm current using. If it is an issue, feel free to repo :smile:

[2015-06-19 05:09] abnerlinan commented on #20
no,no, the problem disappeared when updated dash. I just shy for saying english.
by the way, I cannt auto update dash in atom,  I found it needs sudo to do it in terminal.

[2015-07-06 08:23] lenart opened #23 "Use ruby/rails when editing haml"
Would it make sense to also add `ruby` and `rails` to `haml`'s grammar (https://github.com/blakeembrey/atom-dash/blob/master/lib/grammar-map.coffee#L154)? I often find myself looking for documentation of ruby related methods while working inside haml.

I know I could just clone `atom-dash` and make changes locally but I'm guessing then I'd have to make this changes after each atom-dash update?

[2015-07-06 08:34] lenart commented on #23
After playing around a bit more I've managed to achieve the same by editing atom's config (Atom -> Open Your Config) and added the following:

[code]

[2015-07-06 08:34] #23 closed

[2015-07-06 13:06] Kapeli commented on #23
Would it make sense for me to update https://kapeli.com/dash_plugins and include Ruby & Rails for HAML? I think it's quite common to use Ruby in HAML files right?

[2015-09-04 09:28] iAm-Eric opened #25 "Atom-Dash not available in Atom's Package Search"
Hi.
Just as the title says, Atom does not return **Atom-Dash** when using the package search. I tried to use the terms *dash* and *atom-dash*.

Are you aware of this? I tried a few weeks ago as well with the same results.

Thanks,
Eric

[2015-09-04 16:05] blakeembrey commented on #25
@iAm-Eric I wasn't aware of this, no, so I'll try looking into it. A basic search from the site seems to work (https://atom.io/packages/search?q=dash and https://atom.io/packages/search?q=atom-dash).

[2015-09-04 16:06] blakeembrey commented on #25
I'll look at adding some keywords to the package too, see if that makes searching easier.

[2015-09-04 17:45] iAm-Eric commented on #25
What's even more odd is in the web search, the keyword *dash* returns a few results where in the app's search it returns a big fat zero.

[2015-09-04 17:50] blakeembrey commented on #25
It appears for me:

![image](https://cloud.githubusercontent.com/assets/1088987/9690659/aa4ae972-52f2-11e5-9803-2d4dc3d69475.png)

![image](https://cloud.githubusercontent.com/assets/1088987/9690663/b6cecd62-52f2-11e5-9e15-e17dc9b62995.png)

Is it possible it's already installed for you?

[2015-09-04 18:00] iAm-Eric commented on #25
I am quite new to Atom, so perhaps I am doing something wrong then... Here's a screen of my package search - which doesn't look like yours...

<img width="975" alt="screen shot 2015-09-04 at 19 56 14" src="https://cloud.githubusercontent.com/assets/3150341/9690942/a55a87cc-533f-11e5-8aab-6475aa58aef4.png">

[2015-09-04 18:05] blakeembrey commented on #25
@iAm-Eric That's your installed packages. You want to use the "Install" pane, click on "Install" on the left hand side and try searching in there. I think you'll find some more interesting packages too :smile:

[2015-09-04 18:07] blakeembrey commented on #25
I'll update the README too. I can see why it's confusing, those instructions were from a long time ago when the panes were merged in Atom.

[2015-09-04 18:08] iAm-Eric commented on #25
noooooooooooo.

Wow, man - very sorry! How embarrassing.

[2015-09-04 18:11] blakeembrey commented on #25
@iAm-Eric It's alright. I'll close this now. I just had a quick search of GitHub for packages and it seems most packages use the old `Preferences -> Packages` menu, so it's not uncommon. Might be worth pinging other repos to make sure everything is consistent, I suspect most haven't been updated since the settings pane changed.

I'll close this now, I'm assuming you got it working :+1: Feel free t

[2015-09-04 18:11] #25 closed

[2015-09-05 17:40] tylerb opened #26 "Word selection around cursor seems broken"
For `regexp.MustCompile()`, with the cursor in the middle of `MustCompile`, pressing `ctrl-h` opens dash and searches for `ustCompile(`. If I select `MustCompile` entirely, then `ctrl-h`, it works as expected.

[2015-09-05 19:32] blakeembrey commented on #26
@tylerb Unfortunately I'll probably need more information to be able to test this, but it's likely an Atom bug. I'm using the Atom APIs provided to me to get the text from the editor, so it's likely their buffer is off by one at some point. What language are you using? Can you reproduce it consistently? Is syntax highlighting correct?

[2015-09-05 19:36] tylerb commented on #26
No worries! I literally installed Atom and started setting it up for Go half an hour before posting this issue. I didn't really know what information to give or how to find it. I'm happy to answer any questions to help get this figured out. I do a lot of OSS myself. :)

I am using Golang, and I have [go-plus](https://github.com/joefitzgerald/go-plus) installed. Syntax highlighting is correct. I ca

[2015-09-05 20:33] blakeembrey commented on #26
@tylerb Great, thanks. Seems like it'd be an Atom bug, but do you have a snippet of the file I can use to reproduce? I tried with just the line you said, but it works fine there. Have you closed and reopened the tab, and still have the issue?

[2015-09-05 20:42] tylerb commented on #26
In writing a sample for you, I found something new and interesting:

[code]

The `good` line works fine. `ctrl-h` on `MustCompile` works as expected. The `bad` line exhibits the problem I described above.

In this example:

[code]

the same problem occurs for `string`.

[2015-09-05 20:57] tylerb commented on #26
Another interesting tidbit: those code snippets work fine if I do it in a new, blank file. So perhaps it has something to do with the fact that it is a Go file.

[2015-09-05 21:47] blakeembrey commented on #26
@tylerb Wow, can confirm. It's specifically when I use tabs before, my default of spaces didn't break anything.

Upon investigation, it comes down to grabbing by scope. Specifically, https://github.com/blakeembrey/atom-dash/blob/master/lib/dash.coffee#L46. Even more specifically, `editor.getTextInBufferRange(editor.bufferRangeForScopeAtCursor('support.function.go'))` is the issue. I'll do a little

[2015-09-05 21:51] tylerb commented on #26
Is this an issue that occurs only for Go? Or is it happening elsewhere for you?

[2015-09-05 21:55] blakeembrey commented on #26
@tylerb It looks like it could be an Atom bug in general with text width handling of tabs. Confirmed, it can be reproduced with other languages.

[2015-09-05 22:06] tylerb commented on #26
Excellent. I'll go close the other issue then. :)

[2015-09-05 22:17] blakeembrey commented on #26
Hmm, it's specifically https://github.com/atom/atom/blob/278e988cca2bba2b0f5f13d1833786ac59cb989e/src/text-editor.coffee#L2565-L2566 but I'm trying to work around it. Basically, they are mixing up the normal buffer and display buffer which have different indexes (E.g. tab width).

[2015-09-05 22:29] blakeembrey commented on #26
Hack, hacks everywhere. I'll open the issue at Atom to fix this in the end, but for now I'll make a commit into `atom-dash` to convert buffer positions.

[code]

Where `e` is the current editor.

[2015-09-05 22:29] #26 closed

[2015-09-05 23:00] blakeembrey commented on #26
@tylerb I released a workaround in `v.1.3.1`. I'll make sure it's solved in Atom for future releases.

[2015-09-06 15:25] tylerb commented on #26
Awesome! Thank you!

[2015-09-22 19:42] ches commented on #19
I'm still seeing this error in some consistently reproducible cases, usually when the cursor is at the beginning of words. Here are two simple cases, in Go and Python:

[code]

[code]

With the cursor in front of the "S" in `SetFlags` or the "p" in print, I'm getting the error when I invoke `Ctrl-h`.

If this isn't enough to reproduce, please let me know and I'll dump full report details from Atom

[2015-09-23 06:03] blakeembrey commented on #19
@ches Thanks for the test case! This was definitely a regression from a recent patch (#26), but I've added your test case now to ensure it doesn't get hit again. Thanks :+1:

[2015-09-23 06:16] ches commented on #19
Awesome, thank you for the quick fix @blakeembrey!

[2015-11-21 08:24] jsmm opened #27 "Change of conflicting keybindings"
This package is very useful because OS X Services don't work in Atom and because of its syntax sensitive search. But this package's default keybindings conflict with the Atom's core keybindings below.
Is it possible to change atom-dash keybindings?

[code]
Thanks.

[2015-11-21 16:37] blakeembrey commented on #27
You can go to the keymap file from `Atom -> Open Your Keymap` and set it there. What key would you prefer to use?

[2015-11-21 22:25] jsmm commented on #27
Yes, I know. But I don't know the parameters to write for atom-dash. Could yo please let me know them?

Usually, packages list them in Settings > Keybindings for them to be copied, modified and written in the file you mention.

[2015-11-21 23:01] blakeembrey commented on #27
It should be the ones in here: https://github.com/blakeembrey/atom-dash/blob/master/keymaps/dash.cson. Weird that you don't see them, this is what I see:

![image](https://cloud.githubusercontent.com/assets/1088987/11320940/c937b62a-9060-11e5-9746-d74431c6476f.png)

[2015-11-23 22:19] jsmm commented on #27
After writing the keybindings in the keymap, they appear in the list and work. I think they didn't work out of the box because:

- I had overlooked to uncheck the box Enable in the atom-dash package settings.
- Several other packages have their keybindings assigned by default to ctrl-h and ctrl-alt-h.

Thank you for your help to solve this problem.
![atom-dash](https://cloud.githubusercontent.com/

[2015-11-23 23:48] blakeembrey commented on #27
No worries! Glad you've got it sorted out now.

[2015-11-23 23:48] #27 closed

[2015-12-04 19:21] weskoop opened #28 "Any way to maintain window focus on Atom?"
Any way to add a toggle to keep or return the OS window focus to atom?

This works great for dual screens, but I'm cmd-tabbing after ctrl-h everytime.

[2015-12-04 20:00] blakeembrey commented on #28
This was an issue earlier in the year with Atom which was meant to have been resolved: https://github.com/blakeembrey/atom-dash/issues/11. Can you comment and maybe create an issue with Atom if that sounds the same as your problem?

[2015-12-07 19:15] weskoop commented on #28
Sounds similar, but it looks like he was dismissing the dash window, and not getting focus back on atom, I'm not dismissing the window, only viewing it on a 2nd monitor.

The focus is switched to Dash (on my 2nd monitor) when ctrl-h is pressed. I don't need to move window focus there, just do the search, and stay (or return) to the editor.

is there a way to spawn the request to dash in the backgr

[2015-12-07 19:21] blakeembrey commented on #28
Not that I know of, @Kapeli? I'm sure I can add a separate shortcut if there's a way to do this, but I'm not as up to date on native APIs or CLI options for doing this.

[2015-12-07 19:26] blakeembrey commented on #28
Ok, this is from the `man` pages on `open`:

[code]

And in the code I already use this: https://github.com/blakeembrey/atom-dash/blob/master/lib/dash.coffee#L83

[2015-12-07 20:47] Kapeli commented on #28
You can add `&prevent_activation=true` to your `dash-plugin://` call to cause Dash not to activate. This only works in the latest version of Dash (3.1.4).

Please don't make this the default as it would appear as if the plugin doesn't work to most users. Add it as an option or separate keyboard shortcut.

[2015-12-07 21:06] blakeembrey commented on #28
Yes, of course. Good to know it already exists :+1:

[2015-12-07 21:45] blakeembrey commented on #28
Fixed with https://github.com/blakeembrey/atom-dash/releases/tag/v1.4.0. Just use `ctrl+shift+h` now.

[2015-12-07 21:45] #28 closed

[2015-12-08 02:12] Spearl opened #29 "Issues with Ruby inheritance"
Say I have a rails model
[code]
And I want to look up the dash doc for the rails base model.  The atom ruby scoping rules that are being used to look up the search term say that the string in the current scope is " < ActiveRecord::Base" which is fine for syntax highlighting but fails when used to lookup in Dash which means a lot of meaningful Rails documentation is harder to get to.

I'm curious,

[2015-12-08 23:58] blakeembrey commented on #29
Sounds reasonable to me. In my initial tests (not with Ruby, but a few other languages) I found abusing the syntax highlighting was much more consistent to what I would actually want to look up. As you've found, this isn't perfect. I actually wasn't aware of `nonWordCharacters` until now, so thanks for pointing that out. My logic, at the time, was this works better and if it needs fine tuning you

[2015-12-11 04:17] blakeembrey commented on #29
Released with https://github.com/blakeembrey/atom-dash/releases/tag/v1.5.0 :+1: Please let me know if it solves your issues.

Anyone else landing on this issue, if the change breaks your workflow please create a new issue.

[2015-12-11 04:17] #29 closed

[2015-12-11 04:29] trollixx opened #30 "Zeal Support"
Zeal now supports `dash-plugin://` scheme, and registers itself as a protocol handler on Windows and Linux.  The old `--query` argument has been deprecated, and will be removed in `0.3.0` release.

I'll [add](https://github.com/zealdocs/zeal/issues/448) support for `&prevent_activation=true` as well. I had no idea about this parameter. Zeal simply ignores unknown parameters, so starting to pass `&

[2015-12-11 05:04] blakeembrey commented on #30
Ok, good to know. I'll make this change and release an update soon.

[2015-12-11 05:09] blakeembrey commented on #30
@trollixx The `prevent_activation=true` makes sense for Dash because I use the background activation option for `open` already, as Dash has a mobile application that might be opened instead (from memory).

Anyway, my question is, do I need to open in the background (the "do not bring to forefront" option) for Zeal and, if so, what's that flag on linux using `xdg-open`?

[2015-12-11 05:15] trollixx commented on #30
`xdg-open` [has no](http://linux.die.net/man/1/xdg-open) such option. So, the only way would be to handle `prevent_activation=true` in Zeal.

[2015-12-12 03:55] blakeembrey commented on #30
@trollixx Thanks for the confirmation. If you have a chance, can you briefly check #31 (just that I'm using `xdg-open` correctly and how you'd expect). I'll merge and release once you review it.

[2016-01-15 04:35] #30 closed

[2016-04-15 12:40] fkjogu opened #33 "Zeal ist started twice"
When executing *dash:shortcut* Zeal is started twice, but only once when it is already open. For some reason the *shortcut* function is called twice. But I'm too unfamiliar with Atom to understand the reason for that.

Is there a mechanism that retries to start Dash/Zeal again, if the first call failed?

Using Atom 1.7.0 and atom-dash 1.6.0 on Debian 8 Linux.

[2016-04-15 16:20] blakeembrey commented on #33
No, there's is not. The code is fairly simple. I'd ask the Zeal team, perhaps?

[2016-04-17 01:34] trollixx commented on #33
I've managed to reproduce the scenario in my synthetic tests. I think this ticket can be closed. Please follow zealdocs/zeal#535.

[2016-04-17 01:48] trollixx commented on #33
On thought thought it could be not Zeal's fault. At least not entirely. Something should still launch Zeal twice in a literally no time.

@fkjogu is it possible that <kbd>Ctrl-H</kbd> gets pressed more than one time? Also, what's your desktop environment?

[2016-04-20 13:53] fkjogu commented on #33
Funny, at the moment I'm not able to reproduce this myself anymore. Probably some racing condition.

[2016-04-20 18:03] blakeembrey commented on #33
@fkjogu I'll close this for now then. Feel free to re-open if it persists, but it was properly caused by Atom - I'm not sure how the plugin itself could have triggered double.

[2016-04-20 18:03] #33 closed

[2016-06-22 08:00] joepsz opened #36 "Feature request: Read filetype, only search in relevant docs"
First of all: thanks for making and sharing this! Love it :)

When I `ctrl + h` on the text 'export' while in a .js file, the Ruby docs for the 'export' class open in dash. Is there a way to read the current filetype and tell dash that it should ignore results from irrelevant docs?

[2016-06-22 16:48] blakeembrey commented on #36
That should be how it works today. Can you confirm your file is not being detected as Ruby for whatever reason? See https://github.com/blakeembrey/atom-dash/blob/master/lib/dash.coffee#L53 and https://github.com/blakeembrey/atom-dash/blob/master/lib/grammar-map.coffee#L17-L42.

[2016-07-21 15:48] cwilli34 opened #37 "Will not open Zeal"
I am using Manjaro Linux (Arch), have Zeal installed, and not matter what I do, it will not open Zeal.  I get errors that look like:
[code]

[2016-07-21 16:58] blakeembrey commented on #37
/cc @trollixx any thoughts?

[2016-07-30 19:31] franj0 opened #38 "Unable to launch Dash"
![selection_040](https://cloud.githubusercontent.com/assets/11553585/17272670/cefb9290-569c-11e6-9374-4c518fdf0fd0.png)

on shortcuts ctrl-h  ctrl-alt-h  ctrl-shift-h

[2016-08-03 05:10] trollixx commented on #37
Sorry, didn't notice this before. Looks like another KDE issue. After some additional testing I've come up to conclusion that we do need to remove `//` in the URL to fix the problem. Unlike #32, I'd suggest doing that for all Linux flavours. `dash-plugin://` is indeed an invalid URL, so removing `//` makes it act similarly to `mailto:` or `skype:` schemes, and so pass the checks.

[2016-08-03 05:24] trollixx opened #39 "< gets included as part of an HTML tag"
In a `.html` file, if cursor is placed between `<` and the tag name (e.g. `span` or `div`), then the following query is passed to Zeal: `html,svg,statamic,javascript,jquery,jqueryui,jquerym,react,nodejs,angularjs,backbone,marionette,meteor,moo,prototype,ember,lodash,underscore,sencha,extjs,titanium,knockout,zepto,cordova,phonegap,yui,unity3d,css,bootstrap,foundation,awesome,cordova,phonegap:<span`

[2016-08-03 06:19] blakeembrey commented on #39
I believe this might be an Atom issue. The plugin used to use syntax to find the current word but it changed with https://github.com/blakeembrey/atom-dash/issues/29 to use Atom's built-in functionality.

[2016-08-03 06:20] blakeembrey commented on #38
I assume you've installed Zeal?

[2016-08-03 06:26] franj0 commented on #38
Nope, I'm installed "dash" but i think my keyboard is problem.
I have HP Elitebook 8460p with Norway layout keyboard
OS: Linux Ubuntu 14.04
Keyboard for text entry is "Croatian"

[image: Ugrađena slika 2]

[image: Ugrađena slika 1]

2016-08-03 8:20 GMT+02:00 Blake Embrey <notifications@github.com>:

[2016-08-03 06:39] blakeembrey commented on #38
It looks like you're on Linux, I wasn't aware that Dash works on Linux?

[2016-08-03 06:39] blakeembrey commented on #37
Pushed changes with https://github.com/blakeembrey/atom-dash/commit/137f5b30a96d89e58316fcbdbf8bce4a21726b9d.

[2016-08-03 06:42] franj0 commented on #38
dunno, maybe is some problem with paths, but it's not to important, tnx
anyway

2016-08-03 8:39 GMT+02:00 Blake Embrey <notifications@github.com>:

[2016-08-03 08:23] blakeembrey commented on #38
Ok, I'm going to close. Dash is a Mac document viewer, I don't believe there's any version for it on Linux. The Linux compatible version would be to install Zeal.

[2016-08-03 08:23] #38 closed

[2016-08-20 01:43] yazeed opened #41 "Add support for VueJS"
Add support for VueJS

[2016-08-20 02:00] blakeembrey commented on #41
What does support for VueJS mean?

[2016-08-20 02:02] yazeed commented on #41
I meant in the grammer map.

[2016-08-20 02:40] blakeembrey commented on #41
Oh, sure. Do you want to submit a PR?

[2016-09-09 01:14] afghl opened #42 "Cannot call out the it in atom."
I installed it and updated `config.cson` file.

however i can't call out it when pressing `ctrl-h`, `ctrl-alt-h` or `ctrl+shift+h`. It wasn't even bind to the key mappings.

my OS is macos,  Did I miss something or does it work in macos? :)

[2016-09-09 01:38] blakeembrey commented on #42
Yes, it works on Mac. Dash is only a Mac application. Do you have Mac installed? What exactly did you update (it shouldn't need manual changes)? Do you have Dash installed?

[2016-09-09 02:26] afghl commented on #42
embarrassing!!  i restarted atom and it works.  😂 😂 😂  sorry man, closing this issue.

[2016-09-09 02:26] #42 closed

[2016-09-09 15:55] tildebyte opened #43 "Can't find `cmd.exe` on Windows 10"
atom-dash used to work; Since I had to re-image my laptop, it's throwing an error trying to spawn `cmd.exe`. It knows about Zeal, no prob. Maybe Zeal recently added support for `dash://`...? ::shrug::

Sorry I don't have time for a real patch right now, but

[code]

gets it working again.

Weirdly, `path = require 'path'` and then `path.join(etc.` does *not* work, but then again, I'm no JS genius.

[2016-09-28 12:05] sylwiaeb commented on #27
Had the same problem. I installed the package with: `apm install dash` command and didn't see setting for Dash package. Uninstalling and installing again via UI solved the problem.

[2016-09-29 03:35] trollixx commented on #43
@blakeembrey I am not an Atom/Electron expert, but shouldn't this extension just use [`shell.openExternal`](https://github.com/electron/electron/blob/master/docs/api/shell.md#shellopenexternalurl-options) instead of all the mess with `open`/`xdg-open`/`cmd.exe`?

[2016-09-29 04:21] blakeembrey commented on #43
It used to, but I need to move away because `dash` had the requirement to be opening in the background (I believe it was for the iOS app integration). See https://github.com/blakeembrey/atom-dash/commit/8a3152abd5e95dc7dd8f449d717ce133581778b3 and https://github.com/blakeembrey/atom-dash/issues/14.

[2016-09-29 04:23] blakeembrey commented on #43
What happens if you change `cmd.exe` to just `cmd`? Most examples I've seen are like that, and I'll profess I have no idea when it comes to the windows command - it was contributed by the community.

[2016-09-29 04:24] blakeembrey commented on #43
Actually, it looks like I can go back to using `openExternal` now that it accepts an options object. Happy to commit that change now!

[2016-09-29 04:24] trollixx commented on #43
What about `activate` option for `shell.openExternal`?

[2016-09-29 04:25] blakeembrey commented on #43
@trollixx See https://github.com/blakeembrey/atom-dash/issues/43#issuecomment-250367125. The option was only added this year, I made the other changes a year earlier.

[2016-09-29 04:25] trollixx commented on #43
Yeah, noticed that.

[2016-09-29 04:31] #43 closed

[2016-09-29 04:32] #36 closed

[2016-09-29 04:33] #37 closed

[2016-09-29 04:33] #39 closed

[2016-09-29 04:37] blakeembrey commented on #43
Ok, pushed that with 1.7.0. Thanks for pointing out the update!

[2016-09-29 04:41] trollixx commented on #43
Yeah, testing it right now, and I see a very weird behaviour. There are 3 (!) attempts to run Zeal coming from Atom.

[2016-09-29 04:42] trollixx commented on #43
![1475124128](https://cloud.githubusercontent.com/assets/714940/18941269/a1131036-85dd-11e6-877d-57dfd79a51db.png)

[2016-09-29 04:43] trollixx commented on #43
I wonder if this is a bug in Electron...

[2016-11-10 04:46] laurieny opened #44 "Dash-plugin not working on Windows 10"
On Windows 10 the plugin for Atom doesn't seem work. If you CTRL + h anything in a file you get an MS pop-up that says "You'll need a new app to open this dash-plugin." Then you are taken to the MS app store, which of course finds nothing.

[2016-11-10 04:50] blakeembrey commented on #44
Did you install a Dash compatible app to handle it? I believe Velocity should work for Windows users.

[2016-11-10 12:00] trollixx commented on #44
[Zeal](https://zealdocs.org) is another app that supports `dash-plugin` protocol on Windows.

[2016-11-10 15:04] laurieny commented on #44
Thank you, I will check that out.

-Laurie

From: Oleg Shparber [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 5:01 AM
To: blakeembrey/atom-dash <atom-dash@noreply.github.com>
Cc: Laurie Nylund <lnylund@consultnet.com>; Author <author@noreply.github.com>
Subject: Re: [blakeembrey/atom-dash] Dash-plugin not working on Windows 10 (#44)

Zeal<https://zealdocs.org> is another app

[2016-11-10 18:36] blakeembrey commented on #44
Thanks @trollixx, I'll need to update that in the README.

[2016-11-10 22:15] laurieny commented on #44
Zeal is working well for me. Thanks@trollixx.

[2016-11-10 22:15] #44 closed

[2017-02-23 19:41] kmiyashiro opened #45 "Add "Babel ES6 JavaScript" to grammars for JS searches"
I had to add this manually, but I think this is a very common javascript grammar in use today.

[2017-02-23 20:43] blakeembrey commented on #45
Feel free to submit a PR 👍

[2017-02-23 21:50] kmiyashiro commented on #45
PR^

[2017-02-26 04:24] beemo opened #47 "apm troubles"
Looks like this package is currently trying to resolve to an internal 192.x.x.x IP?

`➜  /scripts apm install dash
Installing dash to /Users/bmo/.atom/packages Unable to download https://www.atom.io/api/packages/dash/versions/1.7.0/tarball: connect ETIMEDOUT 192.30.253.120:443`

Thanks in advance of your help.

[2017-02-26 05:39] blakeembrey commented on #47
I believe this package has been published and stable for almost a year now without any such report, so I'd be inclined to say it's probably your configuration or an `apm` bug. Please make sure you don't have any proxying configuration or otherwise set up. I did a quick search and found https://github.com/atom/apm/issues/337 too.

[2017-02-26 05:39] #47 closed

[2017-02-26 18:03] beemo commented on #47
Just tried again and it worked:
`➜  /scripts apm install dash
Installing dash to /Users/bmo/.atom/packages ✓`

Many thanks for your help, Blake.

[2017-02-26 23:22] #45 closed

[2017-03-16 08:11] sphaerophoria opened #48 "Zeal on linux is ignoring the first parameter (the query)"
it seems on linux the following will omit the first parameter when passed to zeal
[code]
while the following works just fine
[code]
According to https://kapeli.com/dash_plugins the dash-plugin format is dash-plugin://keys={keywords}&query={query} which matches my expectation for uri.

It seems in 137f5b30a96d89e58316fcbdbf8bce4a21726b9d you explicitly avoided this, but I'm not sure what the ration

[2017-03-16 13:48] trollixx commented on #48
The change was made because of KDE being very strict about the URL format, and in this case `//` should not be there. Zeal should parse that just fine, I'll check that.

[2017-03-20 01:16] trollixx commented on #48
I have tried it, and both `xdg-open` commands work just fine, with or without double slashes.

It might be a problem specific to your setup. What are your system and desktop environment?

[2017-03-20 01:51] sphaerophoria commented on #48
Interesting! I'm just running a fairly default fedora 25 installation (Gnome 3). Not quite sure what else is releavant. xdg-open version 1.1.1+, zeal 0.3.1.

I can look a little farther into tracking down the source of the problem, I just thought it was an "easy fix" but clearly something more interesting is going on here. Thanks :).

[2017-03-20 01:55] trollixx commented on #48
Try running Zeal with the whole URI:

[code]

[2017-03-20 02:00] sphaerophoria commented on #48
That works as expected.

[2017-03-20 02:11] trollixx commented on #48
So, the problem is somewhere between `xdg-open` and Zeal. Fedora [uses](http://pkgs.fedoraproject.org/cgit/rpms/zeal.git/tree/zeal.spec#n68) `.desktop` file provided by us, so it should work just fine.

Also my `xdg-open` is slightly older, but I don't think that's the reason.
[code]

I am open to ideas :)

[2017-03-20 02:12] sphaerophoria commented on #48
I think I've tracked it down. Created a quick .desktop file to print out what it's receiving from xdg-open
[code]
Looks like xdg-open is introducing a third slash. When executing zeal with the third slash it doesn't correctly parse. Going to have to think about how to fix it but at least we have a cause :)

[2017-03-20 02:29] sphaerophoria commented on #48
Looks like it's a problem with gio. xdg-open has a bunch of logic to decide who he asks to open his uri for him. If I put a dummy gio in my path before the system gio it falls back on gvfs-open and it works as expected.

For the time being maybe we can launch zeal directly (maybe hidden by a package configuration parameter if that's undesirable behavior).

[2017-03-20 02:33] trollixx commented on #48
Fedora pulls in many of post 1.1.1 `xdg-utils` changes, that my Arch version doesn't have. [GIO support](https://cgit.freedesktop.org/xdg/xdg-utils/commit/?id=0d6eebb27c562e8644ccf616ebdbddf82d0d2dd8) is one of them. I guess it makes sense to file a bug report with `xdg-utils` and/or Fedora. Since that code hasn't been officially released yet, not too many users are affected.

[2017-03-20 02:39] sphaerophoria commented on #48
I think that's reasonable. A bug filed with gio is probably reasonable as well since it's the one actually mangling the URIs. I can hold local modifications of my package until that's resolved. I don't think there's anything to be done on your end as it's not your bug :). Thanks for the time!

[2017-03-20 02:40] trollixx commented on #48
No problem, thanks for debugging this.

[2017-03-20 02:41] trollixx commented on #48
When you file bug reports, please post links here, just for the reference.

[2017-04-04 14:58] rbu commented on #48
@sphaerophoria did you end up opening a bug about this?

There is https://bugzilla.redhat.com/show_bug.cgi?id=1426299, but I am not certain that this is the same issue.

[2017-05-11 11:51] Interagierende-Systeme opened #49 "Ctrl-h does not do scoped search/pass in a string to Zeal"
On Windows 7, Ctrl-h does not return from a scoped search of a custom docset. Instead, it simply opens the Zeal Browser. This does not happen in Linux. I doubt this is an issue in the code base, instead, I am probably doing something wrong. Has anyone else had this problem? Thanks!

[2017-06-09 09:04] Bulmer opened #50 "ctrl+h returns error "The specified location is not supported""
Failed to open URI "dash-plugin:query=read" when cursor is on "read" word (or any other word) in bashscript. Is there a setting I need to adjust here somewhere? I have Atom installed in Debian.

[2017-06-09 16:00] blakeembrey commented on #50
Have you installed a Zeal?

[2017-06-09 16:41] CraigCottingham opened #51 "Wrong config for shell script grammar"
In the default grammar config, the key for shell scripts should be 'Shell Script', not 'Shell Scripts'.

[2017-06-09 18:02] blakeembrey commented on #51
Feel free to submit a PR.

[2017-06-09 18:03] blakeembrey commented on #49
Is this still happening to you? /cc @trollixx

[2017-06-10 00:53] Bulmer commented on #50
Ok thanks @blakeembrey. I did note that the docs said "This plugin also works with Velocity or Zeal on Windows, and Zeal on Linux." , but I wasn't sure if it needed to be installed. Cheers.

[2017-06-10 00:53] #50 closed

[2017-06-10 01:10] blakeembrey commented on #50
Ah, I see. Feel free to submit a PR if that can be clarified. The intent of the message was it works with those "in addition" to Dash on Mac, so I'd love if there's a clearer way to word it.

[2017-06-12 01:32] Interagierende-Systeme commented on #49
Yes, but I found out that if I press Ctrl-h again on the function name, it goes to the specific page this time. Have you come across this behavior?

[2017-06-13 14:09] blakeembrey commented on #49
Unfortunately I haven't. It sounds like it might be familiar for @trollixx (if I'm remembering correctly), but you can probably log the commands to verify whether it's sending the full query each time (https://github.com/blakeembrey/atom-dash/blob/57bb684b934c1ef8afa82120c5da9123664aba12/lib/dash.coffee#L55).

[2017-06-13 20:29] trollixx commented on #49
I'll try to check soon. No ETA, as I am currently relocating...

[2017-06-14 01:27] blakeembrey commented on #49
No rush. Where are you relocating to?

[2017-08-28 20:05] trollixx commented on #49
@blakeembrey I was in Moscow in June, now in Tel Aviv.

@Interagierende-Systeme I cannot reproduce your problem with the most recent [Zeal CI build](https://bintray.com/zealdocs/windows-ci/zeal-unstable/view), please give it a try. Also I am on Windows 10, not Windows 7.

[2017-08-29 06:56] Interagierende-Systeme commented on #49
Thank you all for the replies, I will get back to you with any more findings.

[2017-09-22 09:37] flamein commented on #49
For me it doesn't work either, i'm on Fedora 26 using 0.4.0 from fedora repo

[2017-09-28 08:43] Interagierende-Systeme commented on #49
I do not have this problem anymore with the Zeal 0.4.0 update.

[2017-09-28 11:24] #49 closed

[2017-10-24 14:13] BenjaminNavarro commented on #48
Just to mention that I have the same problem on my setup (Archlinux, xdg-open v1.1.2). Adding the `//` solves the problem for me too

[2017-10-24 20:31] trollixx commented on #48
We removed `//` due to [KDE problem](https://github.com/blakeembrey/atom-dash/issues/37#issuecomment-237140968), and `xdg-open` is supposed to handle such URLs properly. I wonder if `skype:` protocol works with the new xdg-utils...

[2017-10-25 05:41] BenjaminNavarro commented on #48
I've seen that but since it causes issues in other environment maybe an option on Linux to choose to have `//` or not might be beneficial. You can leave it disabled by default to keep the current behavior and allow users to enable it if they face this problem.